<div class="flx-bg--grey">
	
	<!------- hero ------->
	<div class="flx-hero flx-hero--small flx-hero--abo">
		<div class="flx-hero__bg">
			<div class="ani ani--fade-in">
				<div class="flx-gradient flx-gradient--stone"></div>
				<div class="flx-hero__img"></div>
			</div>
		</div>
		<div class="ani ani--fade-in-up-small ani--delay-500">
			<div class="container ovr-container">
				<div class="flx-hero__content">
					<h1 class="flx-hero__title">{{title}}</h1> 
					<h2 class="flx-hero__subtitle">{{subtitle}}</h2>
					<a href="https://ns.nl/nsflex/webshop" class="button flx-button--blue">
						{{button-cta}}
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<!------- container ------->
	<div class="container flx-abos__container flx-abos__container--top box-shadow-container">
				
		<!-- intro -->
		{{#each usps}}
		<div class="flx-section flx-section--usps ani ani--fade-in ani--delay-600">
			<div class="flx-section__content--mw-800">
				<div class="flx-grid flx-grid--{{grid}} flx-grid--align-center ani ani--fade-in ani--delay-750">
					<div class="flx-section__img flx-grid__{{order}} flx-section__img--abo {{#unless @first}}tr tr-500 tr--scale-in{{/unless}}">
						<img src="../media/{{icon}}" class="img-responsive" />
					</div>
					<div class="flx-section__content">
						<h3 class="flx-section__content-item flx-section__title flx-section__title--abo tr tr-stag">
							{{{title}}}
						</h3>
					</div>
				</div>
			</div>
		</div>
		{{/each}}	
			
		<!-- stories -->
		<div class="flx-section__container flx-section__container--small flx-section__container--abos flx-border-grey-top-bottom">
			<div class="flx-section">
				<div class="flx-section__content flx-section__content--mw-800 txt-center">	
					<h3 class="flx-section__title tr tr-stag">
						<b>{{{stories.heading}}}</b>
					</h3>
				</div>
			</div>		
			{{#each stories.item}}
			<div class="flx-section">
				<div class="flx-stories__item">
					<img src="../media/{{img}}" class="flx-stories__img tr tr-500 tr--scale-in">
					<div class="flx-stories__month tr tr-stag">
						<div include="../assets/img/icons/calendar--medium.svg"></div>
						<p class="flx-stories__month-label">{{month}}</p>
					</div>
					<div class="flx-stories__content">
						<h4 class="flx-stories__title tr tr-stag">{{title}}</h4>
						<p class="flx-stories__description tr tr-stag">{{description}}</p>
						<div class="flx-stories__suggestion tr tr-stag">
							<div class="flx-stories__line"></div>
							{{suggestion}}
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
		
		<!-- inzicht kosten -->
		<div class="flx-section">
			<div class="flx-costs flx-section__container--abos flx-bg--white divider">
				<div class="container ovr-container">
					<div class="flx-grid flx-grid--1-1-sm">	
						<div></div>	
						<div class="flx-costs__content flx-costs__content--contained">
							<h3 class="flx-section__content-item flx-section__title flx-section__title--abo tr tr-stag">
								<b>{{costs.heading}}</b>
							</h3>
							<p class="flx-section__content-item flx-section__description tr tr-stag">
								{{{costs.description}}}
							</p>
						</div>
						<div class="flx-costs__img flx-costs__img--abos tr tr-500 tr--scale-in">
							<img src="../media/{{costs.img}}" class="img-responsive" />
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- overview -->
		<div class="flx-section">
			<div class="flx-section__container flx-section__container--small flx-bg--white">
				<div class="flx-grid flx-grid--1-1 flx-grid--align-center">
					<div class="flx-section__img flx-section__img--80 tr tr-500 tr--scale-in flx-grid__reverse">
						<img src="../media/{{overview.img}}" class="img-responsive" />
					</div>		
					<div class="flx-section__content flx-section__content--txt-block-left">
						<h3 class="flx-section__content-item flx-section__title flx-section__title--abo tr tr-stag">
							<b>{{{overview.title}}}</b>
						</h3>
						<p class="flx-section__content-item flx-section__description tr tr-stag">
							{{{overview.description}}}
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- summary -->
		<div class="flx-section">
			<div class="flx-section__container flx-section__container--small flx-section__container--abos flx-border-grey-top">
				<div class="flx-summary flx-summary--abos">
					{{#each summary}}
					<div class="flx-summary__item tr tr-stag">
						<div class="flx-summary__icon" include="../media/{{icon}}.svg"></div>
						<h3 class="flx-summary__title">{{{title}}}</h3>
					</div>
					{{/each}}
				</div>
			</div>
		</div>

		<!-- call to action -->
		<div class="flx-section">
			<div class="flx-section__container flx-gradient--yellow">
				<div class="flx-section__content flx-section__content--mw-800 txt-center">
					<h3 class="flx-section__title tr tr-stag"><b>{{{cta.heading}}}</b></h3>
					<p class="flx-section__description flx-section__content--mw-800 txt-center tr tr-stag">{{{cta.description}}}</p>
					<div class="tr tr-stag spacer-margin-2">
						<a href="{{cta.url}}" class="button flx-button--blue">
							{{button-cta}}
						</a>
					</div>
					<a href="/" class="flx-link font-blue">{{cta.link}}</a>
				</div>
			</div>
		</div>
	</div>

	<!-- ros abonnementen -->
	<div class="flx-section">
		<div class="flx-section__container">
			<div class="container">
				<div class="flx-section__content flx-section__content--mw-800 txt-center">
					<h3 class="flx-section__title no-margin tr tr-stag">
						{{{ros.title}}}
					</h3>
					<p class="flx-section__description tr tr-stag">{{ros.subtitle}}</p>
					<div class="tr tr-stag">
						<button class="button button--nsWhite js-ros-btn">{{ros.button-open}}</button>
					</div>
				</div>
				<!-- abonnementen container -->
				<div class="flx-ros__content js-ros-content">
					<div class="flx-section__content--mw-800 txt-center flx-ros__description">
						<p class="font-blue">{{ros.description}}</p>
					</div>
					<div include="../components/ros-all.html"></div>
				</div>
			</div>
		</div>
	</div>
</div>