<div class="flx-hero flx-hero__size">
	<div class="ani ani--fade-in">
		<div class="flx-hero__img"></div>
		<div class="flx-gradient flx-gradient--vivid-blue"></div>
		<div class="flx-gradient flx-gradient--cobalt-blue"></div>
	</div>
	<div class="flx-hero__flow" include="../media/flow.svg"></div>
	
	<!-- background images for desktop -->
	<div class="flx-gradient flx-gradient--cerulean js-bg-0 hidden-xs hidden-sm"></div>
	<div class="flx-gradient flx-gradient--light-grey js-bg-1 hidden-xs hidden-sm"></div>
	<div class="flx-gradient flx-gradient--yellow js-bg-2 hidden-xs hidden-sm"></div>
	
	<div class="ani ani--fade-in-up-small ani--delay-500">
		<div class="js-parallax--back flx-hero__size">
			<div class="container ovr-container">
				<div class="flx-hero__content js-hero-content tr-750">
					<h1 class="flx-hero__title">{{hero.title}}</h1> 
					<h2 class="flx-hero__subtitle">{{hero.subtitle}}</h2>
					<div class="spacer-margin-2"></div>
					<button class="button button--nsYellow button--arrowRight hidden-xs">
						{{hero.button}}
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="ani ani--fade-in ani--delay-1250">
		<div class="btn-round btn-round--down tr-500 js-hero-scroll-down js-hero-scroll-down--round">
			<div include="../assets/img/icons/chevron-m--small.svg"></div>
		</div>
	</div>
</div>

<div class="js-parallax--front">
	<!-- backgrounds for mobile -->
	<div class="flx-gradient flx-gradient--cerulean js-bg-0 hidden-md hidden-lg"></div>
	<div class="flx-gradient flx-gradient--light-grey js-bg-1 hidden-md hidden-lg"></div>
	<div class="flx-gradient flx-gradient--yellow js-bg-2 hidden-md hidden-lg"></div>
	
	<!-- big fat usps with gradient transitions -->
	{{#each section}}	
	<div class="flx-section" id="flx-s{{@index}}">
		<div class="container ovr-container">
			<div class="flx-grid flx-grid--{{grid}}">
				<div class="flx-section__img flx-section__img--{{img-class}} flx-grid__{{order}} tr tr-750 tr--scale-in">
					{{#if img}}<img src="../media/{{img}}" class="img-responsive" />{{/if}}
				</div>
				<div class="flx-section__content flx-section__content--{{text-modifier}}">
					<h3 class="flx-section__title tr tr-stag">{{{title}}}</h3>
					{{#if spacer}}<div class="spacer-margin-4"></div>{{/if}}
					<p class="flx-section__description tr tr-stag">{{{description}}}</p>					
				</div>
			</div>
			{{#if button}}
			<div class="flx-section__divider flx-section__divider--alpha"></div>
			<div class="flx-section__content flx-section__content--center-md-lg">
				<p class="flx-section__description tr tr-stag"><b>{{{label}}}</b></p>
				<div class="spacer-margin-2"></div>
				<div class="tr tr-stag">
					<button class="button button--arrowRight">{{{button}}}</button>
				</div>
			</div>
			{{/if}}	
		</div>
	</div>
	{{/each}}
	
	<div class="flx-section flx-section--last" id="flx-s3">
		<!-- al het OV -->
		<div class="flx-ov">
			<div class="container ovr-container">
				<div class="flx-grid flx-grid--1-1">
					<div></div>		
					<div class="flx-section__content tr tr-stag">
						<div class="flx-ov__text">
							<h3 class="flx-section__title tr tr-stag"><b>In al het openbaar vervoer</b></h3>
							<div class="spacer-margin-4"></div>
							<p class="flx-section__description tr tr-stag">
								NS Flex werkt in het hele OV in Nederland. Je kunt ermee betalen in trein, metro, tram en bus.
								Ga je graag met de fiets? Pak overal in Nederland een OV-fiets of maak gebruik van een bewaakte stalling.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- inzicht kosten -->
		<div class="flx-costs">
			<div class="container ovr-container">
				<div class="flx-grid flx-grid--1-1-sm">		
					<div class="flx-costs__content">
						<h3 class="flx-section__title"><b>Inzicht in je reiskosten. Altijd en overal</b></h3>
						<div class="spacer-margin-4"></div>
						<p class="flx-section__description">
							Zorgen over je maandbedrag? Stel zelf handige alerts in. 
							Dan krijg je een seintje als je het bedrag bereikt dat jij hebt ingesteld.
						</p>
					</div>
					<div class="flx-costs__img">
						<img src="../media/kostenteller.png" class="img-responsive" />
					</div>
				</div>
			</div>
		</div>
		
		<!-- 1e klas switch -->
		<div class="flx-first-class">
			<div class="container ovr-container">
				<div class="flx-grid flx-grid--1-1">
					<div class="flx-section__img flx-section__img--100 hidden-xs hidden-sm">
						<img src="../media/1eklas.jpg" class="img-responsive" />
					</div>		
					<div class="flx-section__content">
						<h3 class="flx-section__title"><b>Druk in de trein?</b></h3>
						<img src="../media/1eklas.jpg" class="img-responsive hidden-md hidden-lg" />
						<div class="spacer-margin-4"></div>
						<p class="flx-section__description">
							Op langere reizen of drukkere trajecten kan het fijn zijn om 
							soms ruimer, rustiger en luxer te reizen. Met NS Flex kun 
							je het tot een kwartier nadat je incheckt nog switchen naar 
							de 1e klas. Je kunt dus in de trein nog beslissen.
						</p>
						<div class="spacer-margin-4"></div>
						<p class="flx-section__label">+ Zo werkt switchen naar 1e klas</p>
					</div>
				</div>
			</div>
		</div>
		
		<!-- abonnementen usps -->
		<div class="flx-abo">
			<div class="container ovr-container">			
				<div class="flx-section__content flx-section__content--small">
					<h3 class="flx-section__title">
						<b>{{abo.heading}}</b>
					</h3>
					<div class="spacer-margin-4"></div>
					<p class="flx-section__description">{{{abo.description}}}</p>
					<div class="spacer-margin-4"></div>
					<button class="button flx-button flx-button--ghost">Meer over abonnementen</button>
				</div>
			</div>
		</div>
		
		<!-- call to action -->
		<div class="flx-cta tr tr-1000 tr--fade-in">
			<div class="container ovr-container">
				<div class="flx-section__content flx-section__content--center-md-lg">
					<h3 class="flx-section__title">{{{cta.heading}}}</h3>
					<div class="spacer-margin-4"></div>
					<h4 class="headingM spacer-margin-4">{{{cta.subhead}}}</h4>
					<p class="font-blue">{{{cta.description}}}</p>
					<button class="button button--arrowRight">{{{cta.button}}}</button>
				</div>
			</div>
		</div>
		
		<!-- testimonial -->
		<div class="flx-testimonial">
			<div class="container ovr-container">
				<div class="flx-section__content flx-testimonial__content">
					<div class="flx-grid flx-grid--max-1 flx-grid--double-col-gap flx-grid--row-gap">
						<div class="flx-testimonial__img"></div>
						<div class="flx-textimonial__text">
							<h3 class="flx-testimonial__quote">{{{testimonial.quote}}}</h3>
							<p class="flx-testimonial__sender">{{{testimonial.sender}}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<footer class="footer ovr-footer" data-noindex="true">
		<div class="container">
		    <div class="grid grid--footer" data-type="bottomfootermenu">
		        <div class="grid__unit">
		            <div class="footer__menuContainer">
		                <ul class="footer__menu list list--horizontal" data-controller="generic/ui/EqualWidth">
		                    <li class="list__item">
		                        <a href="/disclaimer.html" class="arrowLink arrowLink--grey">
		                        Disclaimer</a>
		                    </li>
		                    <li class="list__item">
		                        <a href="/privacy.html" class="arrowLink arrowLink--grey">
		                        Privacy</a>
		                    </li>
		                    <li class="list__item">
		                        <a href="/bedrijfsinformatie.html" class="arrowLink arrowLink--grey">
		                        Bedrijfsinformatie</a>
		                    </li>
		                    <li class="list__item">
		                        <a href="/voorwaarden.html" class="arrowLink arrowLink--grey">
		                        Voorwaarden en folders</a>
		                    </li>
		                </ul>
		                <div class="nslogo nslogo--footer">
		                    <a class="nslogo__link" href="/" title="Ga naar de homepagina">
		                    <img class="nslogo__image" src="../assets/img/NS_logo.svg" height="20" width="52" alt="Logo Nederlandse Spoorwegen" />
		                    </a>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</footer>
</div>