<!------- background images ------->
<div class="flx-bg--fixed">
	<div class="flx-gradient flx-gradient--light-grey alpha-1"></div>
	<div class="flx-gradient flx-gradient--cerulean js-bg-1"></div>
	<div class="flx-gradient flx-gradient--yellow js-bg-2"></div>
	<div class="flx-bg flx-bg--absolute flx-bg--white js-bg-5"></div>
</div>

<!------- hero ------->
<div class="flx-hero js-hero-content tr-1000">
	<div class="flx-hero__bg">
		<div class="ani ani--fade-in">
			<div class="flx-hero__img"></div>
			<!-- <div class="flx-gradient flx-gradient--vivid-blue"></div> -->
			<div class="flx-gradient flx-gradient--cobalt-blue"></div>
		</div>
		<div class="flx-hero__flow" include="../media/flow.svg"></div>
	</div>
	
	<div class="ani ani--fade-in-up-small ani--delay-500">
		<div class="container ovr-container">
			<div class="flx-hero__content">
				<h1 class="flx-hero__title">{{hero.title}}</h1> 
				<h2 class="flx-hero__subtitle">{{hero.subtitle}}</h2>
				<button class="button button--nsYellow flx-button--yellow flx-button--rounded">
					{{{button-cta-text}}}
				</button>
			</div>
		</div>
	</div>
	<div class="js-scroll-down tr-750">
		<div class="flx-hero__scrolldown ani ani--fade-in ani--delay-1250">
			<div class="scroll-down">
				<div class="scroll-down__icon">
					<div class="scroll-down__icon-circle"></div>
				</div>
			</div>
		</div>
	</div>
	<!--
	<div class="js-scroll-down tr-750">
		<div class="flx-hero__scrolldown ani ani--fade-in ani--delay-1250">
			<p class="flx-hero__label hidden-xs hidden-sm">Scroll naar beneden<br>om meer te ontdekken</p>
			<div class="btn-round btn-round--down flx-hero__button-down" include="../assets/img/icons/chevron-m--small.svg"></div>
		</div>
	</div>
	-->
</div>
	
		
<!-- big fat usps with gradient transitions -->
{{#each section}}	
<div class="flx-section flx-section--usps" id="flx-s{{@index}}">
	<div class="container ovr-container">
		<div class="flx-grid flx-grid--{{grid}}">
			<div class="flx-section__img flx-section__img--{{img-class}} flx-grid__{{order}} tr tr-500 tr--scale-in">
				{{#if img}}<img src="../media/{{img}}" class="img-responsive" />{{/if}}
			</div>
			<div class="flx-section__content flx-section__content--{{text-modifier}}">
				<h3 class="flx-section__title tr tr-stag">{{{title}}}</h3>
				<p class="flx-section__description tr tr-stag">{{{description}}}</p>
				<div class="tr tr-stag">
					<div class="flx-more flx-more--blue">
						<span include="../assets/img/icons/plus--small.svg"></span>
						Bekijk meer
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>
{{/each}}

<!-- al het OV -->
<div class="flx-section" id="flx-s3">
	<div class="flx-ov flx-section__container flx-section__container--large tr tr-500 tr--fade-in">
		<div class="container ovr-container">
			<div class="flx-grid flx-grid--1-1">
				<div></div>		
				<div class="flx-section__content tr tr-stag">
					<div class="flx-ov__text-container">
						<h3 class="flx-section__title tr tr-stag">
							<b>{{ov.heading}}</b>
						</h3>
						<p class="flx-section__description tr tr-stag">
							{{ov.description}}
						</p>
						<div class="tr tr-stag">
							<div class="flx-more">
								<span include="../assets/img/icons/plus--small.svg"></span>
								Bekijk meer
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- inzicht kosten -->
<div class="flx-section" id="flx-s4">
	<div class="flx-costs flx-gradient--grey">
		<div class="container ovr-container">
			<div class="flx-grid flx-grid--1-1-sm">		
				<div class="flx-costs__content">
					<h3 class="flx-section__title tr tr-stag">
						<b>{{costs.heading}}</b>
					</h3>
					<p class="flx-section__description tr tr-stag">
						{{costs.description}}
					</p>
					<div class="tr tr-stag">
						<div class="flx-more">
							<span include="../assets/img/icons/plus--small.svg"></span>
							Bekijk meer
						</div>
					</div>
				</div>
				<div class="flx-costs__img tr tr-500 tr--scale-in">
					<img src="../media/{{costs.img}}" class="img-responsive" />
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 1e klas switch -->
<div class="flx-section" id="flx-s5">
	<div class="flx-section__container flx-bg--white">
		<div class="container ovr-container">
			<div class="flx-grid flx-grid--1-1">
				<div class="flx-section__img flx-section__img--100 tr tr-500 tr--scale-in">
					<img src="../media/{{first-class.img}}" class="img-responsive" />
				</div>		
				<div class="flx-section__content">
					<h3 class="flx-section__title tr tr-stag">
						<b>{{{first-class.heading}}}</b>
					</h3>
					<p class="flx-section__description tr tr-stag">
						{{{first-class.description}}}
					</p>
					<div class="tr tr-stag">
						<div class="flx-more">
							<span include="../assets/img/icons/plus--small.svg"></span>
							Bekijk meer
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- abonnementen -->
<div class="flx-section" id="flx-s6">
	<div class="flx-section__container flx-section__container--no-padding-top flx-bg--white">
		<div class="container ovr-container">
			<div class="flx-grid flx-grid--1-1">
				<div class="flx-section__img flx-section__img--100 flx-grid__reverse tr tr-500 tr--scale-in">
					<img src="../media/{{abo.img}}" class="img-responsive" />
				</div>			
				<div class="flx-section__content">
					<h3 class="flx-section__title tr tr-stag"><b>{{{abo.heading}}}</b></h3>
					<p class="flx-section__description tr tr-stag">{{{abo.description}}}</p>
					<div class="tr tr-stag">
						<button class="button flx-button flx-button--ghost flx-button--rounded">{{{abo.more}}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- call to action -->
<div class="flx-section" id="flx-s7">
	<div class="flx-section__container flx-section__container--large flx-gradient--yellow">
		<div class="container ovr-container">
			<div class="flx-section__content flx-section__content--center">
				<h3 class="flx-section__title tr tr-stag">{{{cta.heading}}}</h3>
				<h4 class="headingM spacer-margin-1 tr tr-stag">{{{cta.subhead}}}</h4>
				<p class="font-blue spacer-margin-4 tr tr-stag">{{{cta.description}}}</p>
				<div class="tr tr-stag">
					<button class="button flx-button--blue flx-button--rounded">
						{{{button-cta-text}}}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- testimonial -->
<div class="flx-section" id="flx-s8">
	<div class="flx-section__container flx-section__container--small flx-gradient--grey">
		<div class="container ovr-container">
			<div class="flx-section__content flx-testimonial__content">
				<div class="flx-grid flx-grid--max-1 flx-grid--double-col-gap flx-grid--row-gap">
					<div class="flx-testimonial__img tr tr-500 tr--scale-in"></div>
					<div class="flx-textimonial__text">
						<h3 class="flx-testimonial__quote tr tr-stag">{{{testimonial.quote}}}</h3>
						<p class="flx-testimonial__sender tr tr-stag">{{{testimonial.sender}}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- faq -->
<div class="flx-section" id="flx-s9">
	<div class="flx-section__container flx-faq">
		<div class="container ovr-container">
			<div class="flx-section__content">
				<h3 class="flx-section__title">{{faq.heading}}</h3>
				<ul class="list collapsibleList is-collapsible">
					{{#each faq.questions}}
					<li class="collapsibleList__item ovr-collapsibleList__item">
						<h3 class="collapsibleList__header" id="keuzedagen" tabindex="0" aria-expanded="false" role="button">{{{question}}}</h3>   
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>