<!-- hero -->
<div class="flx-hero flx-hero--smaller flx-hero--sell flx-hero--white-txt">
	<div class="flx-hero__bg">
		<div class="ani ani--fade-in">
			<div class="flx-gradient flx-gradient--cerulean alpha-1"></div>
			<div class="flx-hero__img hidden-xs"></div>
		</div>
	</div>
	
	<!-- sell box -->
	<div class="flx-sell-box__hero-container">
		<div class="container ovr-container ani ani--fade-in-up-small ani--delay-500">
			<div class="flx-sell-box__hero-grid">
				<div></div>
				<div class="flx-sell-box">
					<div class="flx-sell-box__header">
						<h1 class="headingXL no-margin"><b>{{sell.heading}}</b></h1>
						<h2 class="headingXL no-margin">{{sell.price}}<span class="flx-sell-box__unit">{{sell.unit}}</span></h2>
					</div>
					<div class="divider spacer-margin-4"></div>
					<p class="flx-sell-box__description spacer-margin-4">{{{cta.description}}}</p>
					<div class="flx-cta__usp-grid flx-cta__usp-grid--left">
						{{#each cta.usps}}
						<div class="flx-cta__usp flx-cta__usp--left grey-4">
							<span class="flx-cta__icon" include="../assets/img/icons/check-round--small.svg"></span>
							<span>{{{usp}}}</span>
						</div>
						{{/each}}
					</div>
					<a href="{{cta.url}}" class="button button--nsYellow flx-button--yellow flx-button--fw">
						{{{button-cta-text}}}
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- usps -->
<div class="flx-section">
	<div class="flx-section__container divider">
		<div class="container ovr-container">
			<div class="flx-section__content">
				<h3 class="flx-section__title tr tr-stag">{{{sell.usps.heading}}}</h3>
			</div>
			<div class="flx-sell-usps">
				{{#each sell.summary}}
				<div class="tr tr-stag">
					<div class="flx-sell-usps__icon" include="../media/{{icon}}.svg"></div>
					<h3 class="flx-sell-usps__title"><b>{{title}}</b></h3>
					<p class="flx-sell-usps__description">{{description}}</p>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>